@page "{id:int}"
@model siwp_app.Pages.Supply.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supply</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Supply.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supply.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supply.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supply.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supply.Unit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supply.Unit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supply.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supply.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supply.AdditionalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supply.AdditionalInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supply.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
