@page
@model siwp_app.Pages.Job.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Job[0].JobName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job[0].LabelSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job[0].LabelColor)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Job) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabelSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabelColor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
