@page
@model siwp_app.Pages.Screens.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Screens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Screens.ScreenName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screens.ScreenName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Screens.ScreenLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screens.ScreenLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Screens.Orientation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screens.Orientation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Screens.MeshCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screens.MeshCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Screens.Quanity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screens.Quanity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Screens.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screens.Notes)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Screens.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
